@model university_project.ViewModels.ProfileData
@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <h1 class="bluetxt1 mt-5 mb-5"><i class="fa-solid fa-user"></i> My profile</h1>

        @*left part*@
        <div class="col-4 ms-5" style="">
            <img src="~/img/profile-img.png" class="rounded-circle h-auto me-2 mb-5" style="width:60%">
            <h2 class="ms-4 bluetxt2">@Model.Name @Model.Surname</h2>
        </div>

        @*right part*@
        <div class="col-7 ms-5">
            <h3 class="mt-3 underline">•Email: </h3><h4>@Model.Email</h4>
            <h4 class="mt-5 underline">•Department: </h4> <h5>@Model.Department</h5>
            <h3 class="mt-5 underline">•Role: </h3> <h4>@Model.Role </h4>
        </div>
    </div>
    
</div>