@using university_project.ViewModels;

@model university_project.ViewModels.ProfessorDashboardData


@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @*left part*@
        <div class="col-2 ms-5 mt-3 rounded outline" style="">
            <h2 class="mt-2">UniApp</h2>
            <ul class="nav flex-column mb-0">
                <li class="nav-item mt-3 mb-3">
                    <a href="#" class="butn p-0 nav-link text-body font-italic fs-4">
                        <i class="fa-solid fa-border-all"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item mb-3 dropend">
                    <a class="butn dropdown-toggle p-0 nav-link text-body font-italic fs-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-graduation-cap"></i>
                        Grades
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Professor" asp-action="Done" class="dropdown-item butn">
                                <i class="fa-regular fa-circle-check"></i> Done
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Professor" asp-action="Pending" class="dropdown-item butn">
                                <i class="fa-solid fa-pen-to-square"></i> Pending
                            </a>
                        </li>
                    </ul>
                </li>
                @*<li class="nav-item mb-3">
                    <a href="#" class=" p-0 nav-link text-body font-italic butn fs-4">
                        <i class="fa-solid fa-chart-line"></i> 
                        Graphs
                    </a>
                </li>*@
            </ul>
        </div>

        @*right part*@
        <div class="col-9 mt-3 row gy-5 ms-5">

            @*upper body*@
            <div class="row">

                @*search*@
                <div class="col-8">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 outline" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                @*user's profil*@
                <div class="col-4">

                    <div class="row fs-4">

                        <div class="dropdown d-flex justify-content-end hovered">
                            <img src="~/img/profile-img.png" class="rounded-circle h-auto me-2" style="width:12%">

                            <a class="dropdown-toggle blacktxt prf" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-body">@Model.Name @Model.Surname[0].</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-action="Professor" asp-controller="Profile">
                                        <i class="fa-solid fa-user"></i> Profile 
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Password" asp-controller="Settings">
                                        <i class="fa-solid fa-gear"></i> Settings 
                                    </a>
                                </li>
                                <li>
                                    <form method="post" id="logoutForm" class="form-inline" asp-controller="Logout" asp-action="onPost">
                                        <button id="logout" type="submit" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            @*My courses*@
            <div class="bg rounded">

                <div class="row p-5 overflow-x-auto text-nowrap">
                
                    <div class="row">
                        <div class="col-12 col-lg-10">
                           <h4 class="whitetxt"><i class="fa-solid fa-person-chalkboard"></i> My Courses</h4>
                        </div>

                        <div class="col col-lg-2 text-right">
                            <a id="prev" onclick="prev()" class="btn btn-color mb-3 mr-1" href="#" role="button">
                                <i class="fa-solid fa-chevron-left whitetxt"></i>
                            </a>
                            <a id="next" onclick="next()" class="btn btn-color mb-3 " href="#" role="button">
                                <i class="fa-solid fa-chevron-right whitetxt"></i>
                            </a>
                        </div>

                    </div>
                

                    <div id="carousel" class="d-flex flex-nowrap gap-3 overflow-x-hidden">
                        @if (Model.DashboardCardDataList.Count > 0)
                        {
                            @foreach (var course in Model.DashboardCardDataList)
                            {
                                <span class="flex-nowrap text-nowrap">
                                    <div class="card cards-color" style="width: 18rem;">
                                        <div class="card-body hovered whitetxt">
                                            <h5 class="card-title">@course.CourseTitle</h5>
                                            <div class="d-flex gap-2 mt-4">
                                                <h6 class="card-subtitle mb-2 ">Semester :</h6>
                                                <h6 class="card-subtitle mb-2 ">@course.CourseSemester</h6>
                                            </div>
                                            <div class="d-flex gap-2">
                                                <h6 class="card-subtitle mb-2 ">Total hours :</h6>
                                                <h6 class="card-subtitle mb-2 ">@course.CourseTotalHours</h6>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            }
                        }
                    </div>
                </div>
            </div>

            @*lowest part*@
            <div>
                <div class="row">
                    @*gpa card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-clock"></i> Hours</h5>
                                <span class="fs-1">@Model.Hours</span>
                            </div>
                        </div>
            
                    </div>
                    @*passed courses card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-book"></i> Courses</h5>
                                <span class="fs-1">@Model.Courses</span>
                            </div>
                        </div>
                    </div>
                    @*ects card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-graduation-cap"></i> Students</h5>
                                <span class="fs-1">@Model.Students</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>