@using Microsoft.AspNetCore.Identity
@using university_project.Areas.Identity.Data

@model university_project.ViewModels.SecretaryDashboardData

@inject SignInManager<EntityUser> SignInManager

<div class="container">
    <div class="row">
        @*left part*@
        <div class="col-2 ms-5 mt-3 rounded outline" style="">
            <h2 class="mt-2">UniApp</h2>
            <ul class="nav flex-column mb-0 ">
                <li class="nav-item mt-3 mb-3">
                    <a asp-controller="Dashboard" asp-action="Secretary" class="butn p-0 nav-link text-dark font-italic fs-4">
                        <i class="fa-solid fa-border-all"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item mb-3 dropend">
                    <a href="#" class="butn dropdown-toggle p-0 nav-link text-dark font-italic fs-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-square-plus"></i>
                        Add
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Secretary" asp-action="AddCourse" class="dropdown-item butn">
                                <i class="fa-solid fa-file-circle-plus"></i> Courses
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Secretary" asp-action="AddProfessor" class="dropdown-item butn">
                                <i class="fa-solid fa-person-circle-plus"></i> Professors
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Secretary" asp-action="AddStudent" class="dropdown-item butn">
                                <i class="fa-solid fa-user-plus"></i> Students
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item mb-3">
                    <a asp-controller="Secretary" asp-action="ViewCourses" class=" p-0 nav-link text-dark font-italic butn fs-4">
                        <i class="fa-solid fa-book"></i>
                        View all courses
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a asp-controller="Secretary" asp-action="AssignCourse" class=" p-0 nav-link text-dark font-italic butn fs-4">
                        <i class="fa-solid fa-address-book"></i>
                        Assign course
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a asp-controller="Secretary" asp-action="RegisterCourse" class=" p-0 nav-link text-dark font-italic butn fs-4">
                        <i class="fa-solid fa-book-open-reader"></i> 
                        Register course
                    </a>
                </li>
            </ul>
        </div>

        @*right part*@
        <div class="col-9 mt-3 row gy-5 ms-5">

            @*upper body*@
            <div class="row">

                @*search*@
                <div class="col-8">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 outline" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                @*user's profil*@
                <div class="col-4">

                    <div class="row fs-4">

                        <div class="dropdown d-flex justify-content-end hovered">
                            <img src="~/img/profile-img.png" class="rounded-circle h-auto me-2" style="width:12%">

                            <a class="dropdown-toggle blacktxt prf" data-bs-toggle="dropdown" aria-expanded="false">
                                @Model.Name @Model.Surname[0].
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Profile">
                                        <i class="fa-solid fa-user"></i> Profile 
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Email" asp-controller="Settings">
                                        <i class="fa-solid fa-gear"></i> Settings 
                                    </a>
                                </li>
                                <li>
                                    <form method="post" id="logoutForm" class="form-inline" asp-controller="Logout" asp-action="onPost">
                                        <button id="logout" type="submit" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                

                    </div>
                </div>

            </div>

            @*Grade pending*@
            <div class="bg rounded" style="">

                <div class="row p-5">
                
                    <div class="row">
                        <div class="col-12 col-lg-10">
                           <h4 class="whitetxt"><i class="fa-solid fa-file-import"></i> Grade pending...</h4>
                        </div>

                        <div class="col col-lg-2 text-right">
                            <a class="btn btn-color mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <i class="fa-solid fa-chevron-left whitetxt"></i>
                            </a>
                            <a class="btn btn-color mb-3 " href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <i class="fa-solid fa-chevron-right whitetxt"></i>
                            </a>
                        </div>

                    </div>
                

                    <div id="carouselExampleIndicators" class=" gy-4 carousel slide" data-bs-ride="true">
                        @*<div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>*@
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card cards-color" style="width: 18rem;">
                                    <div class="card-body hovered whitetxt">
                                        <h5 class="card-title">Subject Name</h5>
                                        <h6 class="card-subtitle mb-2 ">Semester:</h6>
                                        <h6 class="card-subtitle mb-2 ">No.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>

                </div>

            </div>

            @*lowest part*@
            <div>
                <div class="row">
                    @*gpa card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-book"></i> Listed Courses</h5>
                                <span class="fs-1">@Model.ListedCourses</span>
                            </div>
                        </div>
            
                    </div>
                    @*passed courses card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-person-chalkboard"></i> Listed Professors</h5>
                                <span class="fs-1">@Model.ListedProfessors</span>
                            </div>
                        </div>
                    </div>
                    @*ects card*@
                    <div class="col">
                        <div class="card outline text-center hovered" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-graduation-cap"></i> Listed Students</h5>
                                <span class="fs-1">@Model.ListedStudents</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>